@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'love';
    src: url('../fonts/LOVES.ttf') format('truetype');
}  
@font-face {
    font-family: 'museo';
    src: url('../fonts/MuseoSans_500.otf') format('truetype');
}
@font-face {
    font-family: 'museoBold';
    src: url('../fonts/MuseoSans_700.otf') format('truetype');
}
@keyframes splash {
    0%      { opacity: 0; }
    50%     { opacity: 1; }
    100%    { opacity: 0; }
}
.splash {
    animation: splash 2s cubic-bezier(0.4, 0, 0.6, 1);
}
@keyframes home {
    0%      { opacity: 0; }
    40%     { opacity: 0; }
    100%    { opacity: 1; }
}
.home {
    animation: home 1.5s cubic-bezier(0.4, 0, 0.6, 1);
}
#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: center center;
    transition: transform 0.2s ease-out;
}
.text-modifier:hover {
    font-size: 3rem;
}

@keyframes glitch {
    0% {
        opacity: 1;
        transform: translateZ(0);
    }
    10% {
        opacity: 0.8;
        transform: skew(-5deg);
    }
    20% {
        opacity: 1;
        transform: skew(5deg);
    }
    30% {
        opacity: 0.8;
        transform: translate3d(-5px, 0, 0);
    }
    40%, 100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

.glitch {
    display: inline-block;
    animation: glitch 500ms infinite linear alternate-reverse;
}

@keyframes fadeInAndExpand {
    from {
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
        width: 320px;
    }
}

.fadeInExpand {
    animation: fadeInAndExpand .5s ease-in-out forwards;
}

@keyframes fadeOutAndContract {
    from {
        opacity: 1;
        width: 320px;
    }
    to {
        opacity: 0;
        width: 0;
    }
}

.fadeOutContract {
    animation: fadeOutAndContract .5s ease-in-out forwards;
}

@keyframes expandFromCenter {
    from {
        opacity: 0;
        transform: scaleY(0);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

.expandFromCenter {
    animation: expandFromCenter .5s ease-in-out forwards;
    transform-origin: center;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}  

.fade-in-left {
    animation: fadeInLeft 0.8s ease-out forwards;
}
